h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', sans-serif;
}

p, div {
  font-family: 'Roboto', sans-serif;
}

p {
  color: #888;
}

#logos {
  margin: 24px 0;
  text-align: center;
}

#logos img {
  display: inline-block;
}

#summary {
  margin: 0 0 24px 0;
  text-align: center;
}

#summary h1 {
  margin: 0 0 24px 0;
}

#summary h1 span {
  font-family: 'Bree Serif', sans-serif;
  color: #f16b6f;
}

#invitation {
  margin: 0 0 100px 0;
  padding: 0 0 100px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#channels {
  margin: 0 0 100px 0;
  padding: 0 0 100px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#channels h3 {
  margin: 0 0 24px 0;
}

#channels #more-channels p {
  text-align: center;
}

#channels .group {
  margin: 0 0 24px 0;
}

#channels .group .channel {
  width: 50%;
  float: left;
  padding: 8px;
}

#channels .group .channel h5 {
  font-family: 'Bree Serif', sans-serif;
}

#channels .group .channel p {
  text-align: center;
}

#footer {
  padding: 0 0 50px 0;
  text-align: center;
  font-size: 11px;
}


